<%= render "shared/header" %>

<% breadcrumb :items_show, @item %>
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.images[0] ,class:"item-box-img" %>
      <div class="other-images">
      <% @item.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div>
      <%end%>
  </div>
      <%# 商品が売れている場合は、sold outを表示しましょう※商品購入機能実装時 %>
      <% if @item.order.present? %>
        <div class="sold-out">
         <span>Sold Out!!</span>
        </div>
      <% end %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>
    <div>
    <%= @item.tags&.first&.tag_name %><%# 条件分岐ifを使っていない ぼっち演算子&.のおかげ:%>
    <%#= @item.tags.first.tag_name if @item.tags.first.present? （変更前）%>
    <%# ↑itemに紐づくタグが存在している時のみタグ名を表示できるようにしている%>
    <%# 詳細
        商品とタグは多対多の関係→@item.tagsで取得されるタグの情報は配列となっている
        したがって、firstメソッドを使用することにより、配列の最初の要素を取得%>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.delivery_fee.name %>
      </span>
    </div>

    <%# 【学習備忘録】2段階分岐:1,そもそもログインしているか 2,ログイン中 = 商品に関わるユーザー かどうか%>
    <% if user_signed_in? && @item.order.blank?  %>
     <% if current_user.id == @item.user_id %>
    <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
    <% else %>
    <%# 【学習備忘録】elsif current_user.id != @item.user_idと同じ%>
    <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
    <%# end %>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <% end %>
    <% end %>

      <%# 【学習備忘録】ログイン中で出品者の場合は　編集削除ボタンが表示されればOK
            ログイン中で出品者とは別のユーザーの場合は購入ボタンのみ表示されればOK
            ログアウト中のユーザーの場合は全てのボタンが非表示 %>


    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_fee.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.delivery_day.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

<% if user_signed_in? %>
  <div class="comment-box">
    <%#form：変更前はタグ表示 form_withメソッド使用時は不要%>
      <%= form_with model: [@item, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :comment , class: "comment-text" %>
      <%#textarea class="comment-text"></textarea :変更前%>
      <%# form_withメソッド使用時はf.text_area...の記述に変更%>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%= f.button type: 'submit', class: "comment-btn" do %> 
      <%#button type="submit" class="comment-btn" :変更前 form_withメソッド使う時は上記へ変更%>
      <%# ボタン専用imageを使うため、link to ...do~endのようにdo~endで該当表記を囲む%>
      <%# 該当箇所：image_tag~span終了タグ%>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする</span>
      <%#/button :変更前 form_withメソッド使用時はbuttonタグ使わない→f.buttonに変更%>
        <% end %>
      <% end %>
    <%#/form%>
  <% end %>
  </div>
  <%# formタグ、buttonタグ、textareaタグ:HTMLの表現%>
  <%# form_withメソッド、f.text_area、f.button:rubyの表現%>
  <%# 条件分岐を使うため、HTMLの記述からrubyの記述へ変更%>

<%# コメント表示部分 %>
<div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @item.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %></p>
        <p><%= comment.comment%></p>
        <%# ↑の意味：commentモデルのcommentカラム%>
      </div>
    <% end %>
</div>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%# 【学習備忘録】表示されている商品のカテゴリーを直接拾う %>
  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
